{% extends 'back.html.twig' %}

{% block title %}
    Signup
{% endblock %}

{% block ktiba %}
  
<div class="row">
    <div class="col-12">
        <div class="card card-body">
            <h4 class="card-title">Signup</h4>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
               {{ form_start(form, {'attr': {'class': 'register-form', 'novalidate': 'novalidate'}}) }}
<div class="form-group">
    <label for="vendeur_nom">First Name</label>
    {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Enter Name'}}) }}
</div>
<div class="form-group">
    <label for="vendeur_productname">Last Name</label>
    {{ form_widget(form.nomproduit, {'attr': {'class': 'form-control', 'placeholder': 'Enter product Name'}}) }}
</div>
<div class="form-group">
    <label for="vendeur_email">Email</label>
    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter Email'}}) }}
</div>
<div class="form-group">
    <label for="vendeur_motdepasse">Password</label>
    {{ form_widget(form.motdepasse, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
</div>
<div class="form-group">
    <label for="vendeur_productdescription">Address</label>
    {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Enter description'}}) }}
</div>
<div class="form-group">
    <label for="vendeu_product_type">Role</label>
    {{ form_widget(form.type, {'attr': {'class': 'form-control', 'placeholder': 'Enter type'}}) }}
</div>
<div class="form-group">
    <label for="vendeur_product_image">Role</label>
    {{ form_widget(form.image, {'attr': {'class': 'form-control', 'placeholder': 'Enter image'}}) }}
</div>

<div class="form-group form-button">
    {{ form_row(form) }}
    <button type="submit" class="btn btn-dark">Signup</button>
</div>
{{ form_end(form) }}


                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#myTable').DataTable();
        var table = $('#example').DataTable({
            "columnDefs": [{
                "visible": false,
                "targets": 2
            }],
            "order": [
                [2, 'asc']
            ],
            "displayLength": 25,
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({
                    page: 'current'
                }).nodes();
                var last = null;
                api.column(2, {
                    page: 'current'
                }).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                        last = group;
                    }
                });
            }
        });
        // Order by the grouping
        $('#example tbody').on('click', 'tr.group', function () {
            var currentOrder = table.order()[0];
            if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                table.order([2, 'desc']).draw();
            } else {
                table.order([2, 'asc']).draw();
            }
        });
        // responsive table
        $('#config-table').DataTable({
            responsive: true
        });
        $('#example23').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
        $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
    });
</script>

{% endblock %}
